<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= heroine.super_name %>
    </li>
      <%= link_to "Heroine's Info", heroine %>
     <br>
    
  <% end %>
</ul>

<%= link_to "New Heroine?", new_heroine_path %>