<h2>All Heroines</h2>




<table>
  <% @heroines.each do |heroine| %>
    <tr>
      <td><%= link_to heroine.name, heroine_path(heroine) %></td>
      <td><%= button_to 'Edit', edit_heroine_path(heroine), method: 'get'%></td>
      <td><%= button_to 'Remove', heroine_path(heroine), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New heroine", new_heroine_path %>
